pipeline/PL_Lookup.json
{
	"name": "PL_Lookup",
	"properties": {
		"description": "PL_Lookup",
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "00:01:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Cust",
							"DatasetServerName": "datafactorylearn.database.windows.net",
							"DatasetDBName": "Customer"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Val",
					"value": {
						"value": "@activity('Lookup1').output.value[0].FName",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Name": {
				"type": "Array"
			},
			"Val": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-02-08T15:03:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}